<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
   		   http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"></context:property-placeholder>

    <bean id="classicalMusicBean"
          class="ru.aklementev.springsimpleapp.ClassicalMusic"
          scope="prototype"
          factory-method="getNewClassicalMusic"
          init-method="myInitMethod"
          destroy-method="myDestroyMethod">
    </bean>

    <bean id="rockMusicBean"
          class="ru.aklementev.springsimpleapp.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="ru.aklementev.springsimpleapp.MusicPlayer">

        <property name="name" value="${musicPlayer.name}"></property>
        <property name="volume" value="${musicPlayer.volume}"></property>

        <!--        <property name="musicList">-->
        <!--            <list>-->
        <!--                <ref bean="rockMusicBean"/>-->
        <!--                <ref bean="classicalMusicBean"/>-->
        <!--            </list>-->
        <!--        </property>-->
    </bean>

</beans>